@use '/src/styles/variables.module' as v;
@import url('https://fonts.googleapis.com/css2?family=Solitreo&display=swap');
* {
  box-sizing: border-box;
}

html {
  //font
  font-family: Solitreo, cursive;
  font-size: 16px;
  background-color: v.$main-bg-color;
  line-height: 24px;
  font-weight: 400;
  padding: 2rem;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  color: v.$main-color;
  text-align: center;
}

footer {
  margin-top: 50px;
}

h1 {
  margin: 0;
  line-height: 1.1;
  text-align: center;
}

h2 {
  margin-bottom: 0px;
}