@use '/src/styles/variables.module' as v;

.flex {
  display: flex;
  align-items: center;

  border: 3px solid v.$secondary-color;
  border-radius: 30px;

  max-width: max-content;
  margin: 0 auto 50px auto;
  padding: 15px;
}

@media (max-width: v.$breakpoint-420) {
  .flex {
    flex-direction: column;
  }
}